html{
  font-size: 12px;
}

body {
  margin: 0;
  padding: var(--gap);
  font-family: sans-serif;
  color: var(--BODY-FONT-COLOR);
  background-color: var(--BODY-BACKGROUND-COLOR);
}

.app{
  display: grid;
  grid-template-areas: "header header"
                       "searchbar ticket-info"
                       "sidebar ticket-info";
  grid-template-columns: calc(var(--sidebar-width)) auto;
  grid-template-rows: var(--STANDARD-BLOCK-SIZE) 
                      var(--STANDARD-BLOCK-SIZE)
                      calc(100vh - calc(var(--STANDARD-BLOCK-SIZE)*2) - calc(var(--gap)*4));
  grid-gap: var(--gap) var(--gap);
}

.header{
  grid-area: header;
  box-shadow: inset 0 calc(var(--highlight-border-width) * (-1)) var(--HIGHLIGHT-BORDER-COLOR);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.header h2 {
  margin: 0;
  padding-left: calc(var(--gap) / 2);
  font-size: var(--HEADER_FONT_SIZE);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background: var(--BODY-BACKGROUND-COLOR);
}

::-webkit-scrollbar-thumb {
  background: #404040;
}
::-webkit-scrollbar-button:start:decrement{
    display: block;
    background: url("../svg/up-arrow.svg") no-repeat center/50%;
}
::-webkit-scrollbar-button:end:increment {
  display: block;
  background: url("../svg/down-arrow.svg") no-repeat center/50%;
}


/****************** RESET *********************/
@media screen and (min-device-width: 800px){
  html{
    --scrollbar-width: calc(var(--gap) * 1.5); 
    --sidebar-width: calc(25vw + var(--scrollbar-width));
    --owner-item-width: calc(var(--sidebar-width) - calc(var(--gap)*2));
    --gap: 0.9em;
    --ticket-info-gap: calc(var(--gap) * 1.5);
    --ticket-descr-gap: calc(var(--gap) * 2);
    --header-height: calc(var(--gap)*4);
    --highlight-border-width: 4px;
    --BODY-BACKGROUND-COLOR: #242424;
    --BODY-FONT-COLOR: #c4c4c4;
    --SIDEBAR-BACKGROUND-COLOR: #303030;
    --SIDEBAR-HEADER-FONT-COLOR: #6d6b6b;
    --SIDEBAR-HEADER-FONT-SIZE: 0.9em;
    --SIDEBAR-FONT-SIZE: 1.0em;
    --SIDEBAR-IMG-SIZE: 3em;
    --TiCKETINFO-IMG-SIZE: 4em;
    --OWNERITEM-IMG-SIZE: 2.5em;
    --STATUS-NAME-WIDTH: 3em;
    --STATUS-COLOR-ASD: #AE8930;
    --STATUS-COLOR-COM: #199C43;
    --STATUS-COLOR-UNA: #6d6b6b;
    --HIGHLIGHT-BORDER-COLOR: #6d3cd6;
    --ITEM-PICKED-BACKGROUND_COLOR: #404040;
    --ITEM-PICKED-FONT_COLOR: #dadada;
    --BORDER-WIDTH-GENERAL: 2px;
    --HEADER_FONT_SIZE: 1.5em;
    --STANDARD-BLOCK-SIZE: calc(var(--HEADER_FONT_SIZE) + var(--gap));
    --SIDEBAR-TEMPLATE-WIDTH: calc(var(--sidebar-width) - var(--scrollbar-width) - calc(var(--ticket-info-gap)*2));
  }
  
} 